@use "../../styles/variables" as *;

.login {
  form {
    .input {
      input {
        box-shadow: none;
        border: 1px solid $color-ink;
        &::placeholder {
          color: $color-border;
        }
        &:focus {
          border-color: $color-ink;
        }
      }
    }
    .form-check {
      .form-check-input {
        box-shadow: none;
        cursor: pointer;
      }
    }
    .submit {
      background-color: $color-accent-green-dark;
      color: $color-white;
      &:hover {
        opacity: 0.8;
      }
    }
    .or {
      position: relative;
      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: $color-divider;
        height: 2px;
        top: 50%;
      }
      &:before {
        width: 48%;
        left: 0;
      }
      &:after {
        width: 48.2%;
        right: 0;
      }
    }
    .outils {
      .outil {
        border: 1px solid $color-border;
        border-radius: $radius-sm;
      }
    }
    .last {
      a {
        list-style: none;
        text-decoration: none;
      }
    }
  }
}
